{% load static %}
<div class= "grid grid-cols-2 pt-3 pb-20 bg-blue-400 text-white">
    <div class="pl-24">
            Copyright ©2020-EINSTA2017
    </div>
    <div class="pr-24 flex flex-row container justify-items-start justify-end space-x-10">
        <a href=""><img src="{% static 'FB.png' %}"></a>
        <a href="https://www.instagram.com/einsta17/?hl=id" target="_black"><img src="{% static 'IG.png' %}"></a>
        <a href=""><img src="{% static 'Whatsapp.png' %}"></a>
        <a href=""><img src="{% static 'Twitter.png' %}"></a>
    </div>
</div>
<style type="text/css">
    img{
        width: 30px;
    }
</style>
