{% extends 'base.html' %}

{% block content %}
<div id="top" class="bg-blue-900 text-white font-sans">
    <h1 class="text-2xl font-semibold text-center mb-4 pb-2 pt-3">Tambah Data Meteorologi</h1>
</div>
    <div class="container" style="width: 50%">
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            {{field.label}}
            {{field}}
            {{field.errors}}
        {% endfor %}
        <input class="my-1 mx-auto border font-medium rounded-md
                        text-white bg-indigo-600 hover:bg-indigo-700 py-1 px-1" type="submit" name="">
    </form>
    </div>
    {{peringatan}}
{% endblock %}
